.menu {
  position: fixed;
  top: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
}

.visible {
  display: block;
}

.fons-fosc {
  background-color: transparentize(lighten($color-terciari, 1%), 0.05%);
}

.boto-menu {
  position: fixed;
  top: 50px;
  right: 5%;
  z-index: 1000;
  padding: 10px;
}

.boto-primari {
  color: $color-quart;
  cursor: pointer;
  background-color: $color-secondari;

  border: 0;

  &:hover {
    color: $color-secondari;
    background-color: $color-quart;
  }
}

.menu-links {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 280px;
  margin-top: -140px;
  text-align: center;
}

.menu .icones-social {
  position: absolute;
  bottom: 4%;
  width: 100%;
  text-align: center;
}

.link-menu {
  font-size: 35px;
  font-weight: 700;
  line-height: 70px;
  color: darken($color-primari, 10%);
  text-transform: uppercase;
  border: 0;

  &:hover {
    color: $color-quart;
  }
}
