* {
  box-sizing: border-box;
}

p {
  margin-bottom: 10px;
}

a {
  font-weight: 700;
  color: $color-primari;
  text-decoration: none;

  &:hover {
    color: $color-secondari;
    text-decoration: underline;
  }
}

strong {
  font-weight: 700;
}

.estil-general {
  font-family: $font-family-sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: $color-primari;
  letter-spacing: 0.8px;
  -webkit-font-smoothing: antialiased;
}

.color-primari {
  color: $color-primari;
}

.color-secondari {
  color: $color-secondari;
}

.color-terciari {
  color: $color-terciari;
}

.fons-primari {
  background-color: darken($color-quart, 10%);
}

.fons-secondari {
  background-color: $color-secondari;
}

.fons-terciari {
  background-color: $color-terciari;
}
